<!DOCTYPE html>
<html lang="fr">
 	<head>
		<title>{{page_title}}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="{{page_author}}" />
		<meta name="keywords" content="{{page_keywords}}" />
		<meta name="description" content="{{page_description}}" />

		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />

		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
	</head>
	<body>
		<div id="page">
			{% if not g.user.is_authenticated() %}
			<div class="member_box">
				<a href="{{url_for('accounts.register')}}" role="button" data-toggle="modal" data-target="#register-popup">S'enregistrer</a>
				<a href="{{url_for('accounts.login')}}" role="button" data-toggle="modal" data-target="#login-popup">Se connecter</a>
			</div>
			{% endif %}
			<h1>{{page_title}}</h1>

			<div id="content">
				<div class="modal fade" id="register-popup" tabindex="-1" role="dialog" aria-labelledby="register-popup-label" aria-hidden="true">
					<div class="modal-dialog"><div class="modal-content"></div></div>
				</div>
				<div class="modal fade" id="login-popup" tabindex="-1" role="dialog" aria-labelledby="login-popup-label" aria-hidden="true">
					<div class="modal-dialog"><div class="modal-content"></div></div>
				</div>
				{% block content %}
				{% endblock %}
			</div>

			<div class="footer">&nbsp;</div>
		</div>
	</body>
</html>
