{% load bootstrap %}

{% if redirect_url %}
	<form action="{% url 'accounts_login' %}?next={{redirect_url}}" method="POST" id="login-form">
{% else %}
	<form action="{% url 'accounts_login' %}" method="POST" id="login-form">
{% endif %}
	{% csrf_token %}
	{{form|bootstrap}}

	{% if ajax == False %}
		<button type="button" class="btn btn-default">Annuler</button>
		<button type="submit" class="btn btn-primary">Valider</button>
	{% endif %}
</form>
