{% extends 'base.j2' %}

{% load bootstrap %}

{% block content %}
<h2>Changer de mot de passe</h2>

<form action="{% url 'accounts_password' %}" method="POST" id="register-form">
	{{form|bootstrap}}
</form>
{% endblock %}
