body
{
	background-color: #D5D5D5;
	color : black;
	text-align: center;
	font-size: 1em;
}
h1
{
    background-color: #444444;
    color: white;
    text-decoration: none;
    padding: 6px;
	margin-top: 5px;
	clear: both;
}
h2
{
    color: #0082B0;
}

/*a, a:hover, a:visited
{
	color: #0082B0;
	text-decoration: none;
}
a:hover { text-decoration: underline; }*/

#page
{
	background-color: white;
	border: 1px solid #E1E1E1;
	text-align: left;
	width: 80%;
	padding: 15px;
	padding-top: 0;
	padding-bottom: 0;
	margin: auto;
}

#content
{
}

.member_box
{
	margin: 5px;
	margin-bottom: 0px;
	float: right;
}

.footer
{
	clear: both;
	margin-top: 15px;
}

.new_item
{
	margin-bottom: 15px;
	background-color: #F2F2F2;
	border: 1px solid #E5E5E5;
	padding: 7px;
}
#form-priority-edit .col_name {}
#form-priority-edit .col_actions
{
	width: 170px;
	text-align: center;
}
#form-priority-edit .col_actions button { margin: 3px; }
